{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}

    {% include "partials/page-header.html"%}

    <form action="/savepoint" method="POST">
        <!--action para onde vai as info / method a forma como vai , ou via GET que é padrão ou POST -->

        <h1>Cadastro do Ponto de Coleta</h1>

        <fieldset>
            <!--comando que organiza campos e elementos de um formulario-->
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class="field-group">
                <div class="field">

                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required="required">

                </div>
                <div class="field">

                    <label for="name">Imagem da entidade</label>
                    <input type="url" name="image" placeholder="http://" required="required">

                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>

                <div class="field">
                    <label for="address2">Numero/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">

                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>
                    <input type="hidden" name="state" required="required">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <!--o diseble tira a opção de selecionar uma opção no campo cidade, usando o javascript iremos habilita-lo so depois que selecionar o e escolher o campo estado, antes disso n funcionará-->
                        <option value="">Selecione a Cidade</option>

                    </select>
                </div>

            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de Coletas</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>
            <div class="items-grid">
                <li data-id="Lampadas">
                    <!--<li> fazer listas-->
                    <img src="/icones/lampadas.svg" alt="Lampadas">
                    <span>Lampadas</span>
                </li>

                <li data-id="Pilhas e Baterias">
                    <!--<li> fazer listas-->
                    <img src="/icones/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>

                <li data-id="Papeis e Papelão">
                    <!--<li> fazer listas-->
                    <img src="/icones/papeis-papelao.svg" alt="Papeis e Papelão">
                    <span>Papeis e Papelão</span>
                </li>

                <li data-id="Residuos Eletronicos">
                    <!--<li> fazer listas-->
                    <img src="/icones/eletronicos.svg" alt="Residuos Eletronicos">
                    <span>Residuos Eletronicos</span>
                </li>

                <li data-id="Residuos Organicos">
                    <!--<li> fazer listas-->
                    <img src="/icones/organicos.svg" alt="Residuos Organicos">
                    <span>Residuos Organicos</span>
                </li>

                <li data-id="Oleo de Cozinha">
                    <!--<li> fazer listas-->
                    <img src="/icones/oleo.svg" alt="Oleo de Cozinha">
                    <span>Oleo de Cozinha</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>

        <button type="submit">
            Cadastrar Ponto de Coleta
        </button>
        <!--Cria um botão de enviar formularios-->
    </form>

{% endblock content %}



{% block modal %}

    {% if saved %}
        {% include "partials/point-created.html"%}
    {% endif %}

{% endblock modal %}




{% block scripts %}
    <script src="/script/create-point.js"></script>
{% endblock scripts %}