{% extends "layout.html" %}

{% set pageId = "page-home" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    <div id="page-home">
        <div class="content">
            <header>
                <a href="/"><img src="/icones/logo.svg" alt="Logomarca"></a>
                <!--alt ajuda deficientes visuais , como programas leitores de paginas-->
                <a href="/create.point">
                    <span></span>
                    Cadastre um ponto de coleta
                </a>
            </header>
            <main>
                <!-- Variavel para o titulo , usando o nunjuncks -->
                <h1>{{ title }}</h1>

                <p>Ajudamos pessoas a encontrarem pontos de coletas de forma eficiente .</p>

                <a href="#">
                    <span></span>
                    <strong>
                        Pesquisar pontos de coleta</strong>
                </a>

            </main>
        </div>
    </div>

{% endblock content %}

{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}

{% block scripts %}
    <script src="/script/index.js"></script>
{% endblock scripts %}